.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
  height: 20vh;
  background-color: lightcoral;
}

.avatarSection {
}
